.card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 459px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  scale: 1;
}

.card img {
  display: block;
  width: 100%;
  z-index: 1;

  transition: 0.4s all ease;
  object-fit: contain;
}

.card:hover img {
  scale: 1.05;
}

@media (max-width: 768px) {
  .card {
    width: 160px;
    height: 240px;
  }
}
