.container {
  padding: 1rem 0.5rem;
  position: relative;
}

.imgBox {
  padding: 1rem 0.5rem;
  background-color: var(--secondary-color-light);
}
.differentBg {
  padding: 1rem 0.5rem;
  background-color: var(--primary-color-light);
}
.contentPrimary {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  height: 100%;
  background-color: var(--primary-color-light);
}
.contentPrimary::after {
  content: "";
  position: absolute;
  bottom: -70%;
  z-index: -1;
  width: 100%;

  height: 100%;
  background-color: var(--primary-color-dark);
  transform: skewY(2.5deg);
  transition: 0.5s;
}
.contentSecondary {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  height: 100%;
  background: transparent;
  background-color: var(--secondary-color-light);
}
.contentSecondary::after {
  content: "";
  position: absolute;
  bottom: -70%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color-dark);
  transform: skewY(2.5deg);
  transition: 0.5s;
}
.container h4 {
  margin-top: 1.2rem;
  margin-left: 1rem;
}
.container p {
  margin-left: 1rem;
}
