.container {
  position: relative;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  width: 100%;
  height: 50vh;
  z-index: -1;
}
.top {
  top: 0;
}

.bgPrimaryLight {
  background-color: var(--primary-color-light);
}

.bgSecondaryLight {
  background-color: var(--secondary-color-light);
}

.bgPrimaryDark {
  background-color: var(--primary-color-dark);
}

.bgSecondaryDark {
  background-color: var(--secondary-color-dark);
}
.bottom {
  bottom: 0;
}
