.container {
  position: relative;
}
.top {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 435px;
  background-color: var(--primary-color-light);
}
.bottom {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 666px;
  width: 100vw;
  background-color: var(--primary-color-light);
}
