.bottom {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  background-color: var(--primary-color-dark);
}

.top {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vh;
  background-color: var(--primary-color-light);
}
