.container {
  width: 100vw;
}
.rightHalf {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-top: 100vh solid #fff;
  border-left: 30vw solid var(--secondary-color-dark);

  width: 58vw;
  height: 100vh;
}

.leftHalf {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--secondary-color-dark);

  width: 42vw;
  height: 100vh;
}

.topHalf {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-left: 100vh solid var(--secondary-color-dark);
  border-bottom: 20vw solid #fff;
  background-color: var(--secondary-color-dark);
  width: 100%;
  height: 510px;
}

.bottomHalf {
  position: absolute;
  left: 0;
  top: 510px;
  z-index: -1;

  width: 100vw;
  height: 320px;
  background-color: #fff;
}
