.container {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.mobileContainer {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
.rightHalf {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  width: 70vw;
  height: 100vh;
}

.leftHalf {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 30vw;
  height: 100vh;
  background-color: var(--secondary-color-dark);
}

.primaryBgLight {
  border-top: 100vh solid var(--primary-color-light);
  border-left: 20vw solid var(--primary-color-dark);
}

.secondaryBgLight {
  border-top: 100vh solid var(--secondary-color-light);
  border-left: 20vw solid var(--secondary-color-dark);
}

.primaryBgDark {
  background-color: var(--primary-color-dark);
}

.secondaryBgDark {
  background-color: var(--secondary-color-dark);
}

.topHalf {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 70svh;
}

.bottomHalf {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  width: 100vw;
  height: 30svh;
}

.primaryBgLightMobile {
  border-right: 100svh solid var(--primary-color-light);
  border-bottom: 35vw solid var(--primary-color-dark);
}

.secondaryBgLightMobile {
  border-right: 100svh solid var(--secondary-color-light);
  border-bottom: 35vw solid var(--secondary-color-dark);
}

.primaryBgDarkMobile {
  background-color: var(--primary-color-dark);
}

.secondaryBgDarkMobile {
  background-color: var(--secondary-color-dark);
}
