.container {
  display: flex;
  justify-content: space-between;
  color: var(--black-dark);
}
.mobileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyMobile {
  width: 100vw;
}
.content {
  max-width: 40vw;
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4rem;
}
.mobileContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top h1 {
  color: var(--black-dark);
  font-family: "Jeko-ExtraBold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0.5rem;
}
.top p {
  color: var(--black-dark);
  font-family: "Jeko-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background-color: transparent;
}

.topMobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  padding: 0 1.5rem 1.5rem;
}

.topMobile h1 {
  color: var(--black-dark);
  font-family: "Jeko-ExtraBold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 1rem;

  margin-bottom: 0.5rem;
}
.topMobile p {
  color: var(--black-dark);
  font-family: "Jeko-Regular", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.12px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;

  padding: 1rem;
}

.bottomRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spreader {
  border: 1px solid var(--black-dark);
  height: 2rem;
  margin: 0 24px 0;
}

.spreaderMobile {
  border: 1px solid var(--black-dark);
  height: 1.5rem;
  margin: 0 12px 0;
}

.bottomMobile {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  padding: 1rem 1.5rem 1rem;
}
.mobileLeftSide {
  height: 40vh;
}
.leftSide {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: space-between;
}
.leftSide span {
  color: #fff;
  font-family: "Roxborough-CF", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 2.5rem;
  margin-left: 4rem;
}
.mobileLeftSide {
  display: flex;
  align-items: flex-end;
}
.mobileLeftSide span {
  color: #fff;
  font-family: "Roxborough-CF", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
}
