.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  color: var(--black-dark);
}
.container img {
  margin-left: 4rem;
}
.mobileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: transparent;
}
.linkContainer {
  display: flex;
  height: 50px;
}
.button {
  background-color: transparent;
  cursor: pointer;
  display: flex;

  align-items: center;
  padding: 0 1rem 0.2rem;
  border: none;
  color: var(--black-dark);
  font-family: "Aftika-SemiBold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--black-dark);
}
.active {
  border-bottom: 2px solid var(--black-dark);
}

.mobileNav {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  width: 100vw;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
}
.listItems {
  padding: 0 1.5rem 0;
}
.mobileNav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.mobileNav li {
  padding: 1rem 0 1rem;
  border-bottom: 1px solid var(--white-color);
}

.mobileNavTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.bgPrimaryDark {
  background-color: var(--primary-color-dark);
}

.bgSecondaryDark {
  background-color: var(--secondary-color-dark);
}
.logo {
  cursor: pointer;
}
