:root {
  --primary-color-dark: #f4c1a3;
  --primary-color-light: #feeae0;
  --secondary-color-dark: #95e2d4;
  --secondary-color-light: #dee8e0;
  --gray-color: #eeeeee;
  --green-color: #97bd70;
  --white-color: #e4e7ec;
  --black-dark: #303437;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
p,
button,
li,
input,
Link {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* JEKO FONT FAMILY*/
@font-face {
  font-family: "Jeko-Regular";
  src: url("/fonts/Jeko/Jeko-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jeko-Black-Italic";
  src: url("/fonts/Jeko/Jeko-Black-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Jeko-ExtraBold";
  src: url("/fonts/Jeko/Jeko-Extra-Bold.ttf") format("truetype");
}

/* JEKO FONT FAMILY*/

/* AFTIKA FONT FAMILY*/
@font-face {
  font-family: "Aftika-SemiBold";
  src: url("/fonts/Aftika/Aftika-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Aftika-Light";
  src: url("/fonts/Aftika/Aftika-Light.ttf") format("truetype");
}

/* AFTIKA FONT FAMILY*/

/* Roxborough FONT FAMILY*/

@font-face {
  font-family: "Roxborough-CF";
  src: url("/fonts/RoxboroughCF/RoxboroughCF-Regular.ttf") format("truetype");
}

/* Roxborough FONT FAMILY*/

@font-face {
  font-family: "Adagio_Slab-Regular_italic";
  src: url("/fonts/Adagio/Adagio_Slab-Regular_italic.ttf") format("truetype");
}
