:root {
  --primary-color-dark: #f4c1a3;
  --primary-color-light: #feeae0;
  --secondary-color-dark: #95e2d4;
  --secondary-color-light: #dee8e0;
  --gray-color: #eeeeee;
  --green-color: #97bd70;
  --white-color: #e4e7ec;
  --black-dark: #303437;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
p,
button,
li,
input,
Link {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Jeko-Regular";
  src: local("Jeko-Regular"), url("/fonts/Jeko-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Jeko-ExtraBold";
  src: local("Jeko-ExtraBold"), url("/fonts/Jeko-ExtraBold.ttf") format("woff");
}

@font-face {
  font-family: "Roxborough-CF";
  src: local("Roxborough-CF"), url("/fonts/Roxborough-CF.ttf") format("woff");
}
